* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-in {
    width: 100%;
    max-width: 1000px;
}

footer {
    display: flex;
    background-color: #002238;
    color: white;
    justify-content: center;
    padding: 20px 0;
}

.footer-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-div-left {
    align-items: center;
    padding-right: 30px;
    border-right: 1px solid white;
}

.socials-net {
    display: flex;
    gap: 20px;
}

.social-net {
    width: 35px;
}

.social-net img {
    width: 100%;
}

.methods-logo {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.method-logo {
    width: 40px;
}

.method-logo img {
    width: 100%;
}

@media (max-width: 530px) {
    footer {
        flex-direction: column-reverse;
    }

    .footer-div {
        align-items: center;
    }

    .footer-div-left {
        border-right: none;
    }
}